@import "../../node_modules/bourbon/app/assets/stylesheets/_bourbon";
@import "./drop";


$primary : #5F7DF6;
$background : #fff;
$block :  #5881FF;
$text : gray;
$success : #5ED8A8;
$warning : #E57373;
$highlight-color: #4FC3F7;


html {
  box-sizing: border-box;
}

html, body {
  height: 100%;
}
*, *:before, *:after {
  box-sizing: inherit;
}


body {
  color: $text;
  font-weight:bold;
  font-family: Verdana, sans-serif;
  font-size : 12px;
  max-width: 100%;
  overflow-x: hidden;
  -webkit-font-smoothing: antialiased;
}

*:focus {
 outline: thin dotted;
}

i.fa-sitemap {
  @include transform(rotate(-90deg));
}


.drop-content {
  min-height: 55px;
}


.btn {
  background: none;
  border: none;
  color: white;

  padding: 11px;
  @include transition(background-color, .3s);

}

.delete-everything {
  color: $warning;
}

.pull-right {
  float: right;
}

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.dropdown-list {
  list-style: none;
  padding-left: 0;

  button {
    width: 100%;
    &:hover {
      background-color: lighten(#000, 25%);
    }
  }

}
.subtle-button {
  @extend .btn;
  color: $success;
  background: #484848;
  &:hover {
    background: darken(#484848, 5%);
  }
}

.top-row {
  position: fixed;
  width: 100%;
  z-index: 5;
  height: 100px;
}


#content {
position: relative;
z-index: 0;
overflow: hidden;
@include transition(transform .3s ease-in);
&:before {
  @include transition(opacity .3s ease-in);
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: -50px;
  bottom: 0;
  background: hsla(0,0,0,.7);
  opacity:0;
  z-index:-1;
}

}

#content.overlay {
  &:before{
    opacity:1;
    z-index:6;
  }
}


  .card-creation-dropdown {
    text-align: center;
    //prevent from lying on top of chart
    padding: 10px;
    background: rgba(0, 0, 0, 0.85);
    z-index: 1;
    position: relative;
    opacity: 0;
    @include transition(transform .4s ease-in-out, opacity .3s ease-in);
    @include transform(translateY(-130vh));

  textarea {
      display: block;
      min-height: 60px;
      background: #EBF0FF;
      color: #494949;
      font-weight: 200;
      margin: 20px auto;
      padding: 10px;
      width: 300px;
      border:none;
    }
}

.intro-instructions {
  width: 50%;
  margin: auto;
  min-width: 500px;
  background-color: #fff;
  margin-top: 20vh;
  b {
    color: darken($text, 30%);
  }
}
.heading {
  background-color: #2D2D2D;
  color: lighten($primary, 10%);
  position: relative;
  z-index: 3;

  h1, h2 {
    padding: 10px 10px;
    margin: 0;
    font-size: 1.5em;
    display:inline-block;
  }
  .project-title {
    color: #fff;
    font-weight:200;
  }

  .fa-pencil {
    font-size: 18px;
  }
}

.edit {
  color :  $primary;
  background-color: rgba(0, 0, 0, 0);
  border: none;
  &:hover {
    color: darken($primary, 5%);
  }

}

.toolbar {
  height:50px;
  width: 100%;
  background: #404040;
  position: relative;
  z-index: 2;


  ul {
    list-style: none;
    margin:0;
    z-index: 2;
    position: relative;
    padding: 5px 15px;

    li {
      display: inline-block;
    }
  }
}

.toolbar .toggle-creation-container i {
  @include transition(transform .4s ease-in);
}

#content {
  background : $background;
}

.toggle-creation-container {
  @extend .btn;
  background: $success;
  &:hover {
    background: darken($success, 15%);
  }
}

#content.show-create-dropdown {

  .card-creation-dropdown {
    @include transform(translateY(0vh));
    opacity: 1;
  }

  .toggle-creation-container i {
    @include transform(rotate(-180deg));
  }

}

.chart-wrapper {
  margin: 110px 15px 15px 15px
}

.chart {
  @include transition(transform .3s);
  position: relative;
  overflow:hidden;
}

.top-level-block {

  background: $block;
  color: #fff;
  @include transition(background-color .3s);
  width: 40px;
  z-index: 2;
  position: relative;
  float: left;
  min-height: 520px;

  i.fa-home {
    font-size: 2em;
    padding: 10px 0 0 7px;
    cursor: pointer;
  }
i.fa-home.active {
  color: $success;
  cursor:pointer;
  &:hover {
    color: darken($highlight-color, 20%);
  }
}

&.hover-add {
  background-color: $success;
  color: #fff !important;
}

  span {
    display: block;
    @include transform(rotate(-90deg));
    width: 377px;
    position: relative;
    left: -170px;
    top: 170px;
    font-style: italic;
  }

}

.container {
  background: $block;
  color: #494949;
  cursor: pointer;
  text-overflow : ellipsis;
  overflow: hidden;
}

.button-row {
  min-width: 140px;
  text-align: center;

}


.block {

 @include transition(background-color .2s ease-in, opacity .5s);
 will-change: transform;
color: #fff;
@extend .container;
position:absolute;
z-index: 1;
align-items: center;
cursor: pointer;


.overlay-content {
  display : none;
  white-space: wrap;

  *[contenteditable]{
    background: #fff;
    color: $text;
    overflow: auto;
    color: $text;
    min-height: 200px;
    padding: 20px;
    margin:10px;
  }
}

&.has-children:not(.card-overlay):hover {
  background-color: lighten($primary, 4%);
}

.not-overlay {
  width: 100%;
  &:hover {
    opacity: .85;
  }
}

.text {
  display: block;
  width: 90%;
  max-height:90%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-overflow: ellipsis;
  overflow: hidden;
  }
}

.block.no-text {
  .text {
    display:none;
  }
}

.btn-compact, .btn-expand {
  background-color: #484848;
}

.btn-compact {
  position: relative;
  left: -5px;
}

.btn-compact.active, .btn-expand.active {
  background-color: $primary;
}

.compact-btn-container {
  margin-left: 6%;
}

%action-button {
  @include transition(color .3s ease-in);
  color: $text;
  cursor: pointer;
  background-color: transparent;
  border: none;
  font-size: 16px;
  border-radius: 4px;
  margin-left: 3%;

  i {
    font-size: 1.5em !important;
  }
}


button.hierarchy-zoom {
  color: $highlight-color;
  @extend %action-button;
  &:hover {
    color: darken($highlight-color, 30%);
  }
}

.block:not(.has-children) .hierarchy-zoom {
  visibility: hidden;
}

button.delete {
  color: $warning;
  @extend %action-button;
  float: right;
  &:hover {
    color: darken($warning, 20%);
  }
}

button.show-all-text {
  color: $block;
  @extend %action-button;
  float: left;
  &:hover {
    color: darken($block, 10%);
  }

}


.to-add-block {

  @extend .container;
  background-color: #fff;
  color: #494949;
  margin: 10px;
  padding: 10px;
  width: 250px;
  text-align: left;
  z-index: 2;
  position:relative;
  min-height: 100px;
  float:left;

  button.delete {
    position: absolute;
    right: 0px;
    top: 0px;
  }
}


.to-add-container {
  min-height: 100px;
}

.card-overlay {
  cursor: default;
  z-index: 7;

  .text {
    display: block;
  }

  &:hover {
    .text {
      display : block;
    }
  }

  .overlay-container {
    width: 100%;
    height: 100%;
    padding-top: 45px;
  }

  .overlay-content {
    display : block;
    width: 90%;
    margin: auto;
  }

  .not-overlay {
    display : none;
  }

}

.explanation {
  font-weight: 200;
  font-style: italic;
}

.back-to-chart {
  background-color: lighten($primary, 11%);
  &:hover {
    background-color: lighten($primary, 6%);
  }
  margin-right: 10px;
}

.block:not(.top-level-block):not(.hover-add).hovered {
  background-color: $highlight-color;
}

.block.hover-add {
   background: $success !important;
   color: white;
}


.block.show-all-hover {
  background: darken($primary, 10%) !important;
}

.block.highlight-delete {
background :  $warning !important;

}

.being-dragged {
  opacity: .75 !important;
  z-index: 4;
  @include transition(transform 0s);
}

.hidden {
  display : none !important;
}

.hidden-parent {
  display : none !important;
}

.block:not(.has-children) {
  background: desaturate($block, 55%);
  &:not(.card-overlay):hover {
    background-color: lighten(desaturate($block, 60%), 5%);
  }
}



.btn-text {
  display: none;
}


@media screen and (min-width: 520px){

  body {
    font-size: 14px;
  }

  .pull-right-large {
    float: right;
  }

  .btn-text {
    display: inline-block;
  }
}
