<div class="top-row">
  <div class="heading cf">
    <h1><i class="fa fa-sitemap"></i> Hierarchy Editor</h1>
    <h1 class="project-title pull-right-large" contenteditable></h1>
  </div>
  <div class="toolbar cf">
    <ul>
      <li>
        <button class="toggle-creation-container btn"> <i class="fa fa-chevron-down"></i> create new cards</button>
      </li>
      <li class="compact-btn-container">
        <button class="btn btn-expand"><i class="fa fa-expand"></i> <span class="btn-text">full</span></button>
        <button class="btn btn-compact"><i class="fa fa-compress"></i> <span class="btn-text">compact</span></button>
      </li>
      <li class="pull-right">
        <button class="dropdown-button subtle-button"><i class="fa fa-plus-circle"></i> <span class="btn-text">more options</span></button>
        <div class="dropdown-hidden">
          <ul class="dropdown-list">
            <li>
              <button class="download-as-json btn"> <i class="fa fa-download"></i> download as json</button>
            </li>
            <li>
              <button class="delete-everything btn"> <i class="fa fa-times"></i> delete this chart</button>
            </li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
  <div class="card-creation-dropdown cf">
      <div class="create-block">
        <textarea placeholder="Type and press enter to create a card"></textarea>
      </div>
      <div class="to-add-container">
      </div>
  </div>
</div>
<div class="chart-wrapper">
  <div class="chart">
      <div class="top-level-block show-all inclusive-block">
        <i class="fa fa-home"></i>
        <span>drag + drop cards here or onto other cards</span>
      </div>
      <div class="intro-instructions">
        <p>
          <b>To create a new hierarchy</b>, click on the "create new cards" button above.
          Drag the created cards onto the bar to the left to start your chart.
          You can drag and drop cards at any time to edit the chart.
        </p>
        <br>
        <p>
         <b></b> <button class="subtle-button load-sample-data"> <i class="fa fa-upload"></i> Or click here to preload some sample data </button>
          <br>
        </p>

      </div>
    </div>
</div>
<div class="overlay"></div>
