<div class="overlay-content">
  <p>
    type in the box below to edit text
  </p>
  <p class="explanation">
    your changes will be saved automatically
  </p>
  <div contenteditable>
    {{text}}
  </div>
  <button class="back-to-chart btn pull-right">return to chart </button>


</div>
